h2 {
  text-align: center;
}


/* Création du défilement doux pour les ancres de la pages index */
html {
  scroll-behavior: smooth; 
}

.accueil_introduction {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: flex-start;
  margin: auto;
}

.accueil_grid_paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.accueil_grid_paysages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accueil_introduction h1 {
  margin-bottom: 15px;
}

.accueil_introduction p {
  margin-bottom: 30px;
}

.accueil_introduction div {
  padding-right: 80px;
}

.accueil_section_photos {
  background-color: white;
}

.accueil_section_photos h2 {
  color: #242424;
  margin-bottom: 80px;
}

.section_contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  color: white;
}

.form_nom_email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}


.lien_conteneur_photo {
  position: relative;
}

.photo_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #a5b4fc;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien_conteneur_photo:hover .photo_hover {
  display: flex;
}

@media (max-width: 1024px) {
  .accueil_introduction {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    margin: auto;
  }
  
  .accueil_grid_paysages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
  }
  
  .accueil_grid_paysages img {
    width: 1fr;
    height: 1fr;
    object-fit: cover;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    color: white;
  }


}


/* border: 3px solid greenyellow; */