form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    color: white;
  }

.section_contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
  }

.form_nom_email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.form_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 5px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.aqua{
  color: aqua;
  text-decoration: underline;
}

.aqua:hover{
  opacity: 0.5;
}

.margin_top{
  margin-top: 20px;
}

/* alert bannière erreur mdp sur i'inscription */
.alert-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #f5c6cb;
  z-index: 1000;
}
